@font-face {
    font-family: 'Chivo Mono';
    src: url('ChivoMono-Regular.woff2') format('woff2'),
        url('ChivoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

