/**
 * 设置所有元素共有的样式
 *
 * @author Himmelbleu
 * @date 2023 年 2 月 14 日
 */
html,
body {
  margin: 0;
  padding: 0;
  color: var(--text-a);
  font-size: var(--l-respond-text);
  background-color: var(--l-background-bg);

  &::-webkit-scrollbar {
    display: none;
  }
}

a:link {
  text-decoration: none;
}

@include pc() {
  .page {
    --uno: f-s-c relative;
    z-index: 2;

    & > .content {
      width: 55vw;
    }
  }
}

@include mb() {
  .page {
    --uno: px-4;
    width: 100%;
  }
}

.scroll-none {
  scrollbar-color: initial;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.shine-text {
  background: linear-gradient(
    to right,
    #4b89ac,
    #7bb1d1,
    #9cc6d8,
    #b2d1d1,
    #f5b0cb,
    #d395d7,
    #a595d3,
    #5d4e6d
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: shine-animation 5s ease infinite;
}

.shine-bg {
  background: linear-gradient(
    to right,
    #4b89ac,
    #7bb1d1,
    #9cc6d8,
    #b2d1d1,
    #f5b0cb,
    #d395d7,
    #a595d3,
    #5d4e6d
  );
  background-size: 200% auto;
  animation: shine-animation 5s ease infinite;
  filter: blur(55px);
}

@keyframes shine-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bounce {
  animation: bounce-animation 0.8s ease alternate infinite;
}

@keyframes bounce-animation {
  0% {
    transform: translateY(0px) scale(1);
  }

  100% {
    transform: translateY(-8px) scale(0.95, 1);
  }
}

.clearfix:after {
  content: "";
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
}

.textarea {
  --uno: mb-5 rd-2 transition-all-300;
  background-color: transparent;
  border: 1px solid var(--el-border-color-darker);

  &:hover {
    color: var(--el-color-primary) !important;
    border-color: var(--el-color-primary) !important;
  }

  textarea {
    --uno: rd-2 p-2 text-0.9rem;
    background-color: transparent;
    width: 100%;
    height: 15rem;
    border: none;
    outline: none;
    color: var(--text-a);
    resize: none;
  }
}

.fade-in-out {
  animation: opacity-animation 0.9s ease-in forwards;

  @keyframes opacity-animation {
    @for $index from 0 to 10 {
      #{$index * 10%} {
        opacity: math.div($index, 10);
      }
    }
  }
}

.i-tabler-clipboard-list {
  --un-icon: url(
    data:image/svg + xml;utf8,
    %3CsvgviewBox="0 0 24 24"width="1em"height="1em"xmlns="http://www.w3.org/2000/svg"%3E%3Cgfill="none"stroke="currentColor"stroke-linecap="round"stroke-linejoin="round"stroke-width="2"%3E%3Cpathd="M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2"/%3E%3Cpathd="M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v0a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2zm0 7h.01M13 12h2m-6 4h.01M13 16h2"/%3E%3C/g%3E%3C/svg%3E
  );
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  width: 1em;
  height: 1em;
}
